<footer class="footer bg-primary"> 
    <div class="container">
        <div class="text-center py-3">
            <a href="#" class="d-block text-light h6 text-decoration-none">客服聯絡方式Email：taiwan-free@gmail.com</a>
            <a class="d-block text-light h6 text-decoration-none opacity-50">© Macy H. 2023 Copyright. All Rights Reserved.</a>
        </div>
    </div>
</footer>