<section>
    <div class="border-bottom border-primary border-2 shadow" style="z-index:9999;">
        <div class="container py-1">
            <div class="row">
                <h1 class="col-md-9 logo">
                    <a href="#">
                        Taiwan Free 
                    </a>
                </h1>
                <div class="col-md-3 d-inline-flex justify-content-end align-items-center">
                    <button type="button" class="btn btn-light text-primary fw-bold me-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        登入
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title text-center" id="exampleModalLabel">
                                登入帳號
                              </h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                              </button>
                            </div>
                            <div class="modal-body">
                              <form>
                                <div class="mb-3">
                                  <label for="recipient-name" class="col-form-label">
                                    電子郵件帳號 Email address:
                                  </label>
                                  <input type="text" class="form-control" id="recipient-name">
                                </div>
                                <div class="mb-3">
                                  <label for="message-text" class="col-form-label">
                                    密碼 Password :</label>
                                  <textarea class="form-control" id="message-text"></textarea>
                                </div>
                              </form>
                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉視窗</button>
                              <button type="button" class="btn btn-primary">登入帳號</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    <a href="#" class="text-primary text-decoration-none fw-bold">
                        註冊帳號
                </a>
                </div>
            </div>
        </div>
    </div>
</section>
